.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background: {
    color: $footer-bckg-color;
    image: linear-gradient($hero-overlay-color, $hero-overlay-color),
      url(../images/hero-bcg-img.jpg);
    size: cover;
    repeat: no-repeat;
    position: center;
  }

  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-title {
  margin: 0;
  margin-bottom: 30px;
  @include font-source(26px, $hero-text-color, 900, 0.06em, 1.62);
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  @extend %button;

  &:hover,
  &:focus {
    background-color: $modal-btn-hover-color;
  }
}
