.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: $footer-bckg-color;
  background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
    url(../images/hero-bcg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  margin: 0;
  margin-bottom: 30px;

  color: $hero-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  @extend %button;

  &:hover,
  &:focus {
    background-color: $modal-btn-hover-color;
  }
}
